[submodule "src/main/resources/static/vendor/jquery"]
	path = src/main/resources/static/vendor/jquery
	url = https://github.com/components/jquery.git
[submodule "src/main/resources/static/vendor/bootstrap"]
	path = src/main/resources/static/vendor/bootstrap
	url = https://github.com/components/bootstrap.git
[submodule "src/main/resources/static/vendor/octicons"]
	path = src/main/resources/static/vendor/octicons
	url = https://github.com/github/octicons.git
[submodule "src/main/resources/static/vendor/highlightjs"]
	path = src/main/resources/static/vendor/highlightjs
	url = https://github.com/components/highlightjs.git
[submodule "src/main/resources/static/vendor/angular-bootstrap"]
	path = src/main/resources/static/vendor/angular-bootstrap
	url = https://github.com/angular-ui/bootstrap-bower.git
[submodule "src/main/resources/static/vendor/angular-xeditable"]
	path = src/main/resources/static/vendor/angular-xeditable
	url = https://github.com/vitalets/angular-xeditable.git
[submodule "src/main/resources/static/vendor/jstat"]
	path = src/main/resources/static/vendor/jstat
	url = https://github.com/jstat/jstat.git
[submodule "src/main/resources/static/vendor/angular-bootstrap-contextmenu"]
	path = src/main/resources/static/vendor/angular-bootstrap-contextmenu
	url = https://github.com/JWGmeligMeyling/ui.bootstrap.contextMenu.git
[submodule "src/main/resources/static/vendor/angular"]
	path = src/main/resources/static/vendor/angular
	url = https://github.com/components/angular.js.git
[submodule "src/main/resources/static/vendor/Chartjs"]
	path = src/main/resources/static/vendor/Chartjs
	url = https://github.com/chartjs/Chart.js.git
[submodule "src/main/resources/static/vendor/angular-chart"]
	path = src/main/resources/static/vendor/angular-chart
	url = https://github.com/jtblin/angular-chart.js.git
