<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{42} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="nl.devhub" level="DEBUG"></logger>
	<logger name="liquibase" level="INFO"></logger>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
