
@import "bootstrap/bootstrap.less";

@font-face {
	font-weight: 300;
	font-style: normal;
	font-family: 'Titillium Web';
	src: url(/static/fonts/TitilliumWeb-Light.ttf);
}

@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Titillium Web';
	src: url(/static/fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
	font-weight: 600;
	font-style: normal;
	font-family: 'Titillium Web';
	src: url(/static/fonts/TitilliumWeb-SemiBold.ttf);
}

@font-face {
	font-weight: 700;
	font-style: bold;
	font-family: 'Titillium Web';
	src: url(/static/fonts/TitilliumWeb-Bold.ttf);
}

body, html {
	height: 100%;
	background-color: #f9f9f9;
	font-family: 'Titillium Web';
	color: #666;
}

a {
	color: #3699d2;
	font-weight: 400;
	
	&:hover {
		text-decoration: none;
		color: #3699d2;
	}
}

li, ol, ul {
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	line-height: 100%;
	margin: 8px 0px 18px 0px;
	padding: 3px 0px;
	
	.btn {
		margin-top: -5px;
	}
}

h1 {
	color: #000;
	font-size: 60px;
	font-weight: 800;
	font-style: bold;
	margin: 0px;
}

.menu {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 21px 0px;
	margin-bottom: 24px;
	width: 100%;
	
	
	.logo-text {
		font-size: 22px;
		margin-bottom: 0px;
		line-height: 40px;
		color: #b8b8b8;
	}
	
	a {
		font-size: 17px;
		margin-bottom: 0px;
		line-height: 40px;
		color: #b8b8b8;
		
		&:not(:last-child) {
			margin-right: 32px;
		}
	}
}

.logo-image {
	width: 44px;
	height: 44px;
}

.icon {
	width: 20px !important;
	display: inline-block;
}

.no-margin {
	margin: 0;
}

td.minimal-width, th.minimal-width {
	width: 1px;
	text-align: center;
}

td.no-data {
	color: #aaa;
	font-style: italic;
}

.login-panel {
	margin-top: 10%;
	margin-bottom: 10%;
}

.muted {
	color: #888;
	font-style: italic;
}

.alert {
	padding: 9px;
}

.table {
	background-color: #fff;
}

.table td {
	padding: 12px !important;
}

.btn i.glyphicon {
	vertical-align: -1px;
	margin-right: 3px;
}

.truncate {
	width: 360px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.spinner {
	-webkit-animation: rotate 2.7s linear infinite; 
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

code {
	color: #2493c7;
	font-weight: bold;
	background-color: #f2f7f9;
}